@import '../../style/base/variables.scss';

.shops {
    border-radius: 20px;
    background-color: $red-color-dark;
    min-height: 400px;
    &__list {
        padding: 20px;
        border-radius: 20px;
        text-align: left;
        font-size: 20px;
        font-weight: 700;
        line-height: 40px;
        color: $bg-color;
        cursor: pointer;
    }
    &__item {
        padding-left: 10px;
        border-radius: 10px;
        &_active {
            box-shadow: 0 0 2px white;
        }
        &_non-active {
            pointer-events:none; 
            opacity:0.6;   
        }
        &:hover {
            transition: all 0.6s;
            scale: 110%;
        }
    }
    &__clear {
        margin: 0 auto;
        margin-top: 10px;
        display: none;
        background-color: $bg-color;
        width: 125px;
        border: none;
        border-radius: 6px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        color: $red-color-dark;
        
        &_active {
            display: block;
        }
    }
}

@media (max-width: 992px) {
    .shops {
        &__list {
            padding: 20px 10px 20px 10px;
            font-size: 18px;
        }
    }
}

@media (max-width: 768px) {
    .shops {
        padding: 10px;
        min-height: 50px;
        &__list {
            padding: 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            font-size: 16px;
        }
        &__item {
            padding: 0 10px;
        }
    }
}

@media (max-width: 577px) {
    .shops {
        width: 100%;
        &__list {
            flex-direction: column;
        }
        &__clear {
            margin-top: 20px;
            
            &_active {
                display: block;
            }
        }
    }
}