@import '../../style/base/variables.scss';

.goods {
    &__full{
        margin-top: 30px;
        display: grid;
        grid-template-columns: 500px 580px;
        column-gap: 60px;
        &-img {
            display: block;
            width: 100%;
            object-fit: cover;
            border: 1px solid $red-color-dark;
            border-radius: 20px;
        }
        &-data {
            padding: 20px;
            display: grid;
            grid-template-rows: 30px 1fr 30px;
            row-gap: 30px;
            border: 1px solid $grey-color;
            border-radius: 20px;
            &:hover {
                transition: all 0,5s;
                border: 1px solid $red-color-dark;
            }
        }
        &-title {
            text-align: center;
            font-size: 25px;
            font-weight: 700;
        }
        &-descr {
            text-align: justify;
            font-size: 20px;
        }
        &-order {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        &-price {
            font-size: 20px;
            font-weight: 700;
        }
        &-qtty {
            color: $grey-color;
        }
        &-btn {
            background-color: $red-color-dark;
            width: 140px;
            height: 30px;
            border: none;
            border-radius: 10px;
            text-transform: uppercase;
            font-weight: 700;
            color: $bg-color;
        }
    }
}

@media (max-width: 1200px) {
    .goods {
        &__full{
            grid-template-columns: 400px 500px;
        }
    }
}

@media (max-width: 992px) {
    .goods {
        &__full{
            grid-template-columns: 300px 380px;
            column-gap: 40px;
            &-descr {
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 768px) {
    .goods {
        &__full{
            grid-template-columns: 200px 320px;
            column-gap: 20px;
            &-data {
                padding: 10px;
                grid-template-rows: 20px 1fr 30px;
                row-gap: 10px;
                &:hover {
                    transition: all 0,5s;
                    border: 1px solid $red-color-dark;
                }
            }
            &-title {
                font-size: 20px;
            }
            &-descr {
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 576px) {
    .goods {
        &__full{
            margin-top: 50px;
            grid-template-columns: 1fr;
            grid-template-rows: 200px 1fr;
            row-gap: 20px;
            &-img {
                height: 100%;
            }
            &-data {
                row-gap: 30px;
            }
            &-title {
                font-size: 16px;
            }
            &-descr {
                font-size: 14px;
            }
            &-price {
                font-size: 16px;
            }
            &-btn {
                font-size: 16px;
            }
        }
    }
}