@import '../../../style/base/variables.scss';

.error{
    &__page{
        margin-top: 30px;
        &-title {
            margin-top: 30px;
            text-align: center;
            text-transform: uppercase;
            font-size: 30px;
            font-weight: 700;
        }
        &-link {
            margin-top: 30px;
            display: block;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 700;
            color: $red-color-dark;
        }
    }
}