@import '../../style/base/variables.scss';

.cart {
    &__amount {
        margin: 20px 60px 0 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        &-num {
            display: flex;
            justify-content: space-between;
            width: 250px;
            font-size: 18px;
            font-weight: 700;
            &:nth-last-child(2) {
                color: $red-color-dark;
            }
        }
    }
}