
.history {
    &__grid {
        margin-top: 30px;
        display: grid;
        grid-template-rows: 70px 1fr;
        row-gap: 40px;
    }
}

@media (max-width: 992px) {
    .history {
        &__grid {
            margin-top: 0;
            grid-template-rows: 50px 1fr;
            row-gap: 20px;
        }
    }
}

@media (max-width: 576px) {
    .history {
        &__grid {
            margin-top: 50px;
            grid-template-rows: minmax(50px, auto) 1fr;
            grid-template-columns: 1fr;
            row-gap: 20px;
        }
    }
}